include software_item.pug

section(class="software")
	+title("software")
	div(class="soft-container")
		div(class="col-soft-1")
			+software_item("photoshop")
			+software_item("illustrator")
			+software_item("indesign")
		div(class="col-soft-2")
			+software_item("dreamweaver")
			+software_item("after effects")
			+software_item("html&css3")