section(class="contact")
	+title("contact")
	table
		tr
			th address
			td #[span(class="capitalize") Main Street, City]
		tr
			th e-mail
			td #[span(class="small") contact@domain.com]
		tr
			th phone
			td #[span(class="small") 555-555-555]
		tr
			th website
			td #[span(class="small") www.yourweb.com]