mixin experience_item
	li
		div(class="circle-list")
		div(class="company") #[b Company name] #[span(class="capitalize") // Feb 2011 - Jun 2014]
		div(class="name-item") Your job here
		p(class="job-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.