.name
	margin-bottom: 18.9%

.first-name, .last-name, .occupation
	text-align: center

.first-name
	font-size: 3.3em
	line-height: 1.1
.last-name
	font-size: 3.7em
	font-weight: bold
	margin-bottom: 3.6%

.occupation
	font-size: 1.5em


+respond-to(medium-screens)
	.name
		margin-bottom: 5%
+respond-to(small-screens)
	.name
		margin-bottom: 5%
	.first-name, .last-name
		font-size: 2em
	.occupation
		font-size: 1.1em