@font-face 
	font-family: PTSansRegular
	src: local('PT Sans'), url('fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.woff') format('woff'), url('fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.ttf') format('truetype'), url('fonts/PT_Sans-Web-Regular/PT_Sans-Web-Regular.svg') format('svg')
	font-weight: normal
@font-face 
	font-family: PTSansRegular
	src: local(PTSansRegular), url('fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.woff') format('woff'), url('fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.ttf') format('truetype'), url('fonts/PT_Sans-Web-Bold/PT_Sans-Web-Bold.svg') format('svg')
	font-weight: bold


