@import fonts
@import mixins

$blue: #3D6cb0
$grey: #e6e6e6

// General rules
*
	padding: 0
	margin: 0
	box-sizing: border-box

body
	width: 100%
	height: 100%
	font-family: 'PT Sans', sans-serif
	font-size: 15px
	line-height: 1
	text-transform: uppercase

p
	text-transform: none
	line-height: 1.3em

h3
	color: $blue

ul
	li
		list-style: none

.small
	text-transform: lowercase
.capitalize
	text-transform: capitalize

#wrapper
	min-height: 100%
	overflow: hidden
	position: relative

.container
	max-width: 1280px
	margin: 0 auto
	position: relative
	padding: 4.7% 3.2%
	+clearfix

.column
	float: left

.column-1
	width: 40%
	padding-right: 3%

.column-2
	width: 60%
	padding-left: 3.03%

// Picture
.picture
	width: 100%
	height: 100%
	margin: 3% auto 7.1%
	padding-left: 3%

.circle-1
	position: relative
	width: 240px
	height: 240px
	+border-radius(120px)
	border: 1px solid $blue
	margin: 0 auto

.circle-2
	position: absolute
	width: 209px
	height: 209px
	+border-radius(104.5px)
	border: none
	background-color: $blue
	top: 14px
	left: 14px

// Name
.name
	margin-bottom: 18.9%

.first-name, .last-name, .occupation
	text-align: center

.first-name
	font-size: 3.3em
	line-height: 1.1
.last-name
	font-size: 3.7em
	font-weight: bold
	margin-bottom: 3.6%

.occupation
	font-size: 1.5em
	
// Section-title
// general stuff
.section-title
	+flexbox()
	+justify-content(space-between)
	+align-items(center)
.icon, .title
	background-color: #ffffff
.icon
	background-image: url(../images/sprite.png) 
	background-repeat: no-repeat
	height: 74px

.line-wrapper
	+flexbox()
	+align-items(center)
	+flex(1 1)

.title
	font-size: 2.2em

.line
	width: 100%
	height: 5px
	background-color: $blue

//specific stuff
.icon-profile
	width: 76px
	background-position: 1% 38%

.icon-contact
	width: 74px
	background-position: 20.5% 38%
	margin-right: 3%

.icon-skills
	width: 74px
	background-position: 39.6% 38%

.icon-education
	width: 76px
	background-position: 59.1% 36%

.icon-experience
	width: 79px
	height: 76px
	background-position: 79.2% 44%

.icon-software
	width: 76px
	background-position:  99% 34%

.column-1
	.line-wrapper
		padding-right: 1.8%
	.icon
		margin-right: 2%
	.title
		margin-right: 1%

.column-2
	.icon
		margin-right: 3%
	.title
		margin-right: 1.3%
	.line-wrapper
		padding-right: 2.4%

// Profile section
.profile
	margin-bottom: 11.4%
	.section-title
		margin-bottom: 2.6%
.profile-text
	padding-right: 5%

// Contact Section
.contact
	margin-bottom: 8%
	.section-title
		margin-bottom: 4.2%
table
	border-collapse: collapse
	font-size: 1.31em
	width: 87%
	th
		color: $blue
		text-align: left
	th, td
		padding: 5% 0
	td
		padding-left: 2.5%
	tr:nth-child(2) th, tr:nth-child(2) td 
		padding-bottom: 5.8%

// Skills section
.skills
	.section-title
		margin-bottom: 6.2%
	.title
		margin-right: 1.6%
		padding-bottom: 0.5%
	.line-wrapper
		padding-right: 2.2%
		padding-bottom: 0.5%

.skill
	text-align: center
	font-size: 1.55em
	width: 100%
	padding-right: 2%

.skill-name
	margin-bottom: 3%

.dots-wrapper
	width: 332px
	margin: 0 auto 5.86%
.dots 
	li
		background-color: $blue
		width: 18px
		height: 18px
		margin-right: 10px
		float: left
		+border-radius(50%)
	li:nth-child(5), li:nth-child(10)
		margin-right: 13px
	li:last-child
		margin-right: 0

.dots
	+clearfix
	.grey
		background-color: $grey
.skill:last-child .dots-wrapper
	margin-top: 2.1%
// Education Section
.education
	margin-bottom: 7.9%
	.section-title
		margin-bottom: 4.9%
	.line-wrapper
		padding-bottom: 0.5%

.education-list
	li:first-child
		margin-bottom: 3.3%
	li
		margin-bottom: 3%

.education-list, .job-list
	position: relative
	padding-left: 8.5%

.degree, .company
	font-size: 1.5em
	color: $blue
	margin-bottom: 2%

.name-item
	font-size: 1.5em
	margin-bottom: 1.5%	

.circle-list
	position: absolute
	left: 2%
	width: 20px
	height: 20px
	background: #000000
	+border-radius(10px)

// Experience section
.experience
	margin-bottom: 8%
	.section-title
		margin-bottom: 7.3%
		.icon-experience
			margin-right: 2.5%
	li
		margin-bottom: 3%
	li:nth-child(2)
		margin-bottom: 3.2%

// Software section
.software
	margin-right: -3.4%
	.section-title
		margin-bottom: 4.4%
		.title
			margin-right: 3%
			padding-top: 1%
		.line-wrapper
			padding-right: 5.7%

.soft-container
	+clearfix

.col-soft-1, .col-soft-2
	font-size: 1.6em
	float: left
	width: 50%

.col-soft-1
	padding-left: 1.1%
	padding-right: 1.9%

.col-soft-2
	padding-left: 3%

.col-soft-1, .col-soft-2
	div:first-child
		.rect
			margin-top: 5.5%
.col-soft-1, .col-soft-2
	div:nth-child(2)
		.rect
			margin-top: 4.6%
.col-soft-1, .col-soft-2
	div:nth-child(3)
		.rect
			margin-top: 3.7%

.col-soft-1, .col-soft-2
	.soft:first-child
		margin-bottom: 8.4%
	.soft:nth-child(2)
		margin-bottom: 8.3%

.rect
	position: relative
	background: $grey
	height: 23px
	width: 88%
.rect-2
	position: absolute
	background: $blue
	height: 23px
.rect-photoshop
	width: 91%
.rect-illustrator
	width: 70.5%
.rect-indesign
	width: 56.5%
.rect-dreamweaver
	width: 82%
.rect-after
	width: 61%
.rect-html
	width: 90.3%

// Media queries
@media screen and (min-width: $medium) and (max-width: $large)
	.column 
		width: 100%
	.circle-1
		margin: 0 auto
	.picture
		margin-bottom: 4%
	.name, .profile, .contact, .skills
		margin-bottom: 5%
	.contact
		table
			width: 60%
			margin: 0 auto
@media screen and (max-width: 767px)
	.column 
		width: 100%
	.circle-1
		margin: 0 auto
	.picture
		margin-bottom: 4%
	.name, .profile, .contact, .skills
		margin-bottom: 5%
	.first-name, .last-name
		font-size: 3em
	.occupation
		font-size: 1.2em
	.title
		font-size: 2em
	.contact
		table
			width: 60%
			margin: 0 auto
	.icon, .line-wrapper
		display: none
	.skill
		width: 100%
		.dots-wrapper
			margin: 0 auto
			.dots li 
				margin-right: 8px 
	.col-soft-1, .col-soft-2
		width: 100%
		padding: 0
	.col-soft-1 
		margin-bottom: 5%
